/* Write your CSS here */
/* Write your CSS here */
.aboutcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.darkaboutsub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
}
.lightaboutsub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
}

.aboutlightimage {
  width: 100px;
  height: 100px;
}
.darktext {
  font-size: 40px;
  color: #ffffff;
}
.lighttext {
  font-size: 40px;
  color: black;
}
