/* Write your CSS here */
.homecontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.darkhomesub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
}
.lighthomesub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
}

.homelightimage {
  width: 100px;
  height: 100px;
}
.darkpara {
  font-size: 40px;
  color: #ffffff;
}
.lightpara {
  font-size: 40px;
  color: black;
}
